<template>
    <v-row class="ma-0 pa-0">
        <v-col cols="12" xl="12" md="4" sm="4" class="mx-0 my-1 pa-0">
            <v-card class="ma-0 pa-0">
                <v-list-item two-line class="ma-0 pa-0">
                    <v-list-item-content class="ma-0 pa-0">
                        <div class="text-caption ml-2">Balance</div>
                        <v-col class="ml-2 mr-auto my-0 pa-0">
                            <div class="text-body-1">{{ balance.eth }} ETH</div>
                        </v-col>
                        <v-col class="ma-0 pa-0">
                            <div class="text-body-1">{{ balance.usdt }} USDT</div>
                        </v-col>
                    </v-list-item-content>
                </v-list-item>
            </v-card>
        </v-col>
        <v-col cols="12" xl="6" md="2" sm="2" class="mx-0 my-1 pa-0">
            <v-card class="ma-0 pa-0">
                <v-list-item two-line class="ma-0 pa-0">
                    <v-list-item-content class="ma-0 pa-0">
                        <div class="text-caption ml-2">Block</div>
                        <v-col class="ma-0 pa-0">
                            <div class="text-body-1 ml-2">{{ block }}</div>
                        </v-col>
                    </v-list-item-content>
                </v-list-item>
            </v-card>
        </v-col>
        <v-col cols="12" xl="6" md="6" sm="6" class="mx-0 my-1 pa-0">
            <v-card class="ma-0 pa-0">
                <v-list-item two-line class="ma-0 pa-0">
                    <v-list-item-content class="ma-0 pa-0">
                        <div class="text-captionz ml-2">Gas</div>
                        <v-col class="ma-0 pa-0">
                            <div class="text-body-1 ml-2">{{ gas.low }}</div>
                        </v-col>
                        <v-col class="ma-0 pa-0">
                            <div class="text-body-1">{{ gas.mid }}</div>
                        </v-col>
                        <v-col class="ma-0 pa-0">
                            <div class="text-body-1 mr-2">{{ gas.high }}</div>
                        </v-col>
                    </v-list-item-content>
                </v-list-item>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: 'BalanceGasPrice',
        props: {
            balance: {
                eth: Number,
                usdt: Number
            },
            block: Number,
            gas: {
                low: Number,
                mid: Number,
                high: Number
            }
        },
        data: function () {
            return {}
        },
        methods: {

        },
        mounted() {
            this.balance = {
                eth: 10,
                usdt: 1000
            };
            this.block = 111222333;
            this.gas = {
                low: 10,
                mid: 20,
                high: 30
            };
        }
    }

</script>
