<template>
    <v-row>
        <v-col col="12">
            <v-card class = "ma-0 pa-0">
                <v-data-table class = "ma-0 pa-0" fixed-header :headers="headers" :items="pendingTransformed" hide-default-footer
                    :loading="tableLoading">
                </v-data-table>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: 'HistoryTable',
        data() {
            return {
                filtersVisible: false,
                loading: false,
                tableLoading: false,
                midgas: 0.0,
                pending: [],
                headers: [{
                        text: this.$t('thxtable.thxhash'),
                        align: 'left',
                        sortable: false,
                        value: 'TransactionHash'
                    },
                    {
                        text: this.$t('thxtable.action'),
                        sortable: false,
                        value: 'Function'
                    },
                    {
                        text: this.$t('thxtable.gas'),
                        sortable: false,
                        value: 'GasPrice'
                    },
                    {
                        text: this.$t('thxtable.gastimes'),
                        sortable: false,
                        value: 'GasTimes'
                    },
                    {
                        text: this.$t('thxtable.from'),
                        sortable: false,
                        value: 'From'
                    },
                    {
                        text: '',
                        sortable: false,
                        value: 'FromCharacter'
                    },
                    {
                        text: this.$t('thxtable.status'),
                        sortable: false,
                        value: 'Status'
                    },
                    {
                        text: this.$t('thxtable.eth'),
                        sortable: false,
                        value: 'ethAmount'
                    },
                    {
                        text: this.$t('thxtable.coin'),
                        sortable: false,
                        value: 'Coin'
                    },
                    {
                        text: '',
                        sortable: false,
                        value: 'CoinIcon'
                    },
                    {
                        text: this.$t('thxtable.erc20'),
                        sortable: false,
                        value: 'erc20Amount'
                    }
                ]
            };
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    .table_page {
        padding: 20px 20px;

        .cku_filters_panel {
            position: relative;

            .hide_sction {
                background: #ffffff;
                display: none !important;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                z-index: 3;
            }

            &:hover .hide_sction {
                display: flex !important;
            }
        }
    }
</style>
