<template>
    <v-row class="ma-0 pa-0">
        <v-col cols="12" xl="2" md="2" sm="2" class="mx-0 my-1 pa-0">
            <v-card elevation="0" class="ma-0 pa-0">
                <div class="ma-0 pa-0">
                    <a :href=" ContractUrl " target="_blank">
                        {{ PairName }}
                    </a>
                </div>
            </v-card>
        </v-col>
        <v-col cols="12" xl="12" md="10" sm="10" class="mx-0 my-1 pa-0">
            <v-card elevation="0" class="ma-0 pa-0">
                <div class="ma-0 pa-0">
                    <a :href=" TokenUrl " target="_blank">
                        {{ AwardToken }}
                    </a>
                </div>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: 'MiningPair',
        props: {
            PairName: String,
            ContractUrl: String,
            AwardToken: String,
            TokenUrl: String
        },
        data: function () {
            return {}
        },
        methods: {

        },
        mounted() {
            this.PairName = 'ETH/USDT';
            this.ContractUrl = 'https://etherscan.io/address/0x1542E790a742333EA6A2F171c5d07A2E7794EEf4';
            this.AwardToken = 'NEST';
            this.TokenUrl = 'https://etherscan.io/token/0x04abeda201850ac0124161f037efd70c74ddc74c';
        }
    }

</script>
