<template>
    <v-row class="ma-0 pa-0">
        <v-col cols="12" xl="12" md="10" sm="10" class="mx-0 my-1 pa-0">
            <v-card class="ma-0 pa-0" height="300">
                <div>Here is a Chart</div>
            </v-card>
        </v-col>
        <v-col cols="12" xl="12" md="2" sm="2" class="mx-0 my-1 pa-0">
            <v-card class="ma-0 pa-0" height="300">
                <v-list-item class="ma-0 pa-0">
                    <v-list-item-content class="mx-2 my-0 pa-0">
                        <div class="text-caption">Hobi</div>
                        <v-col class="ma-0 pa-0">
                            <div class="text-body-1">{{ hobi.price }}</div>
                        </v-col>
                        <v-col class="ma-0 pa-0">
                            <div class="text-body-1">{{ hobi.dev }} %</div>
                        </v-col>
                        <div class="text-caption">Uniswap</div>
                        <v-col class="ma-0 pa-0">
                            <div class="text-body-1">{{ uni.price }}</div>
                        </v-col>
                        <v-col class="ma-0 pa-0">
                            <div class="text-body-1">{{ uni.dev }} %</div>
                        </v-col>
                        <div class="text-caption">CoFix</div>
                        <v-col class="ma-0 pa-0">
                            <div class="text-body-1">{{ cofix.price }}</div>
                        </v-col>
                        <v-col class="ma-0 pa-0">
                            <div class="text-body-1">{{ cofix.dev }}%</div>
                        </v-col>
                    </v-list-item-content>
                </v-list-item>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: 'PricingCharts',
        props: {
            hobi: {
                price: Number,
                dev: Number
            },
            uni: {
                price: Number,
                dev: Number
            },
            cofix: {
                price: Number,
                dev: Number
            }
        },
        data: function () {
            return {}
        },
        methods: {

        },
        mounted() {
            this.hobi = {price: 445, dev: 1};
            this.uni = {price: 440, dev: -1};
            this.cofix = {price: 450, dev: 1};
        }
    }

</script>
