<template>
    <div class="dashboard_container">
        <v-container>
            <MiningPair ref='mining_pair'></MiningPair>
            <BalanceGasPrice ref='balance_gas_price'></BalanceGasPrice>
            <PricingCharts ref='pricing_charts'></PricingCharts>
            <MiningTable ref='mining_table'></MiningTable>
            <Mining ref='mining'></Mining>
            <Eat ref='eat'></Eat>
            <Accelerator ref='accelerator'></Accelerator>
            <HistoryTable ref='history_table'></HistoryTable>
        </v-container>
    </div>
</template>

<script>
    import MiningPair from '@/components/nest/MiningPair'
    import BalanceGasPrice from '@/components/nest/BalanceGasPrice'
    import PricingCharts from '@/components/nest/PricingCharts'
    import MiningTable from '@/components/nest/MiningTable'
    import Mining from '@/components/nest/Mining'
    import Eat from '@/components/nest/Eat'
    import Accelerator from '@/components/nest/Accelerator'
    import HistoryTable from '@/components/nest/HistoryTable'

    export default {
        name: 'ViewNestMining',
        components: {
            MiningPair,
            BalanceGasPrice,
            PricingCharts,
            MiningTable,
            Mining,
            Eat,
            Accelerator,
            HistoryTable
        },
        data: function () {
            let self = this;
            return {
                socket: null,
                bgp: {
                    LastBlock: '0',
                    SafeGasPrice: '0',
                    ProposeGasPrice: '0',
                    FastGasPrice: '0'
                }
            }
        }
    }

</script>
